.primary {
  text-align: right;
  padding-right: 20%;
  font-size: 350%;
}

.primary h1 {
  padding: 5%;
  text-align: center;
}

.secondary {
  text-align: left;
  padding-left: 15%;
  font-weight: 500;
}

.secondary h4 {
  text-align: center;
  text-align: justify;
}

#light .primary {
  color: black;
}

#dark .primary {
  color: white;
}
