.primary-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid blue;
  padding: 40px;
}

h1 {
  text-align: center;
}

.login {
  font-size: 2em;
  padding-bottom: 5%;
}

.div-eye {
  margin-left: 8em;
}

.div-login {
  margin-left: 5.5em;
}

.secondary-container {
  text-align: center;
}

.label-email-pass {
  text-align: center;
}

.btn-eye {
  padding: 0.5em;
  font-size: 130%;
}

.btn-login {
  padding: 0.5em;
}

.btn-eye-login {
  margin-left: 6em;
}

#light .form-group {
  color: black;
}

#dark .form-group {
  color: white;
}
#light .primary-container {
  color: black;
}

#dark .primary-container {
  color: white;
}
