.primary-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid blue;
  padding: 40px;
}

h1 {
  text-align: center;
}

.secondary-container {
  text-align: center;
}

.btn-eye {
  padding: 0.5em;
  margin-left: 6.5em;
}

#light .form-group {
  color: black;
}

#dark .form-group {
  color: white;
}
#light .primary-container {
  color: black;
}

#dark .primary-container {
  color: white;
}
